{% extends 'base.html' %}

{% block head %}
<title>HOME</title>
{% endblock %}

{% block body %}
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,msg in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<br>
<h1>Welcome to Employee Management Application</h1><br>
<hr>
<br>
<div class="row">
    <div class="col-8"><h3>Hi, {{ current_user.data.name}}!</h3></div>
    <div class="col-4">
        <a class="btn btn-outline-dark" href="/edit/change/{{current_user.user_id}} ">Change Password</a>
        <a  class="btn btn-outline-dark float-right" href="/logout">LOGOUT</a></div>
    </div>
<br><br>
<div>
    <h4>Select an Operation</h4>
    <br>
    {% if current_user.data.usertype == 'Employee' %}
        <div class="row">
            <div class="col-4">
                Search Employee Details:
            </div>
        <a class="btn btn-outline-dark col-auto" href="/search">SEARCH</a>
        </div>
        <br>
    {% else %}
        <div class="row">
            <div class="col-4">
            Register an Employee:
            </div>
        <a class="btn btn-outline-dark col-auto" href="/register">REGISTER</a>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Search/ Modify Employee Details:
            </div>
            <a class="btn btn-outline-dark col-auto" href="/search">SEARCH/ MODIFY</a>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                Add/ Create Team:
            </div>
            <a class="btn btn-outline-dark col-auto" href="/team/edit">ADD/ CREATE</a>
        </div>
        <br>
    {% endif %}
    <div class="row">
            <div class="col-md-4">
                My Team Info:
            </div>
            <a class="btn btn-outline-dark col-auto" href="/viewteam/{{current_user.user_id}}">VIEW TEAM</a>
    </div>
    <br>
    <div class="row">
            <div class="col-md-4">
                Edit Personal Details:
            </div>
            <a class="btn btn-outline-dark col-auto" href="/edit/{{current_user.user_id}}">EDIT</a>
    </div>
</div>
{% endblock %}